
<div class="card col-3" style="width: 18rem;">
  <img src="{{image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-director">Director: {{director}}</h6>
    <p class="card-stars">Stars {{stars}}</p>
    <p class="card-description">{{description}}</p>
    <p class="card-showtimes">{{showtimes}}</p>
    <a href="/movies" class="btn btn-primary">Go Back</a>
  </div>
</div>
